// --------------------------------------------------
// Global
// --------------------------------------------------

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
  height: 100%;
}

body {
  color: $gray-dark;
  height: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.2;
  width: 100%;
}

a {
  text-decoration: none;
  color: $eggplant;

  &:hover {
    color: lighten($eggplant, 10%);
  }
}

.page-wrap {
  min-height: 100%;
  background: $white;
}

.container {
  @include screen-sm {
    padding: 0 1rem;
  }

  width: $screen-lg;
  padding: 0 2rem;
  margin: 0 auto;
}

.title {
  padding: 2rem 0;
}

.pen {
  margin-bottom: 10rem;
}
