// --------------------------------------------------
// Typography
// --------------------------------------------------

// Links
// --------------------------

.link {
  @include transition(color, 0.15s, linear);

  &:hover,
  &:active,
  &:focus {

  }
}

// Titles
// --------------------------

.title {
  font-size: $font-size-xxlg;
  font-weight: bold;

  &--sub {
    font-size: $font-size-xlg;
    font-weight: normal;
  }

  &__value{
    color: $gray;
    font-weight: normal;
  }
}

// Description
// --------------------------
.description {
  font-size: $font-size-lg;

  &__key {
    font-weight: bold;
  }

  &__value {
    color: $eggplant;
  }
}
