// --------------------------------------------------
// Variables
// --------------------------------------------------

// Breakpoints
// --------------------------
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;
$screen-xlg: 1600px !default;

// Colors
// --------------------------

// Black
$black: #000;
$black-shadow: rgba(0,0,0,.5);

//Gray

$gray-dark: #2E3032;
$gray: #444;
$gray-opacity: rgba(153,153,153,.5);
$gray-light: #ddd;

//Blue
$blue: rgba(0, 0, 255, 0.8);
$sky: rgba(179,212,252,.5);

// Green
$green: rgba(0, 128, 0, 0.8);
$olive: #690;

// Red
$red: rgba(255, 0, 0, 0.7);
$eggplant: #905;



// White
$whisper: #f5f2f0;
$white-smoke: #f2f2f2;
$white: #fff;

// Colors names
// --------------------------

// Font-family
// --------------------------
$fontPath: '../fonts/';
$pathOpenSans: '';

//Example
// $openSansRegular: 'Open Sans', sans-serif;
// $openSansBold: 'Open Sans Bold', sans-serif;

// Font-size
// --------------------------
$font-size-xxs: 1.2rem;
$font-size-xs: 1.4rem;
$font-size-sm: 1.6rem;
$font-size-md: 1.8rem;
$font-size-lg: 2.4rem;
$font-size-xlg: 3rem;
$font-size-xxlg: 3.6rem;
$font-size-xxxlg: 4rem;
