<div class="container">

    <h2 class="title">HTML</h2>

    <div class="code">
    <pre class="line-numbers">
    <code class="language-markup">
    &lt;div class="content"&gt;

      &lt;!--START front--&gt;
      &lt;div class="front"&gt;
        &lt;div class="block block--front"&gt;&lt;/div&gt;
      &lt;/div&gt;
      &lt;!--END front--&gt;

      &lt;!--START back--&gt;
      &lt;div class="back"&gt;
        &lt;div class="block block--back"&gt;&lt;/div&gt;
        &lt;div class="block block--back"&gt;&lt;/div&gt;
      &lt;/div&gt;
      &lt;!--END back--&gt;

      &lt;button class="btn"&gt;Toggle z-index&lt;/button&gt;
    &lt;/div&gt;
    </code>
    </pre>
    </div>

    <section class="pen">
        <p data-height="900" data-theme-id="0" data-slug-hash="XKvzgq" data-default-tab="result" data-user="Oksanych"
           data-embed-version="2" class="codepen">
            See the Pen <a href="http://codepen.io/Oksanych/pen/XKvzgq/">
            Flex z-index</a> by Aleksandr (<a href="http://codepen.io/Oksanych">@Oksanych</a>)
            on <a href="http://codepen.io">CodePen</a>.</p>
    </section>
</div>