<div class="container">

    <h2 class="title">HTML</h2>

    <div class="code">
    <pre class="line-numbers">
    <code class="language-markup">
    &lt;div class="flex"&gt;
    
      &lt;button class="flex__button"&gt;Flex button&lt;/button&gt;
        
    &lt;/div&gt;
    </code>
    </pre>
    </div>

    <h2 class="title">SCSS</h2>

    <div class="code">
    <pre class="line-numbers">
    <code class="language-css">
     .flex {
      display: flex;

      &__button {
        margin: auto;
      }
    }
    </code>
    </pre>
    </div>

    <section class="pen">
        <p data-height="300" data-theme-id="0" data-slug-hash="WxVoOV" data-default-tab="result" data-user="Oksanych"
           data-embed-version="2" class="codepen">
            See the Pen <a href="http://codepen.io/Oksanych/pen/WxVoOV/">
            Flex-basis and margin</a> by Aleksandr (<a href="http://codepen.io/Oksanych">@Oksanych</a>)
            on <a href="http://codepen.io">CodePen</a>.
        </p>
    </section>
</div>