<div class="container">

    <h2 class="title">HTML</h2>

    <div class="code">
    <pre class="line-numbers">
    <code class="language-html">
     &lt;div class="wrap"&gt;
         &lt;header class="header"&gt;
            Header
         &lt;/header&gt;

         &lt;main class="body"&gt;
             &lt;div class="content"&gt;Main content&lt;/div&gt;
             &lt;nav class="nav"&gt;Navigation&lt;/nav&gt;
             &lt;aside class="side-bar"&gt;Side-bar&lt;/aside&gt;
         &lt;/main&gt;

         &lt;footer class="footer"&gt;
            Footer
         &lt;/footer&gt;
     &lt;/div&gt;
    </code>
    </pre>
    </div>

    <h2 class="title">CSS</h2>

    <div class="code">
    <pre class="line-numbers">
    <code class="language-css">
     .wrap {
       display: flex;
       flex-direction: column;
     }

    .body {
      display: flex;
      flex-grow: 1;
    }

    .content {
      flex-grow: 1;
    }

    .nav {
      order: -1;
    }
    </code>
    </pre>
    </div>


    <section class="pen">
        <p data-height="600" data-theme-id="0" data-slug-hash="YWmXOJ" data-default-tab="result" data-user="Oksanych"
           data-embed-version="2" class="codepen">
            See the Pen <a href="http://codepen.io/Oksanych/pen/YWmXOJ/">
            Flex layout</a> by Aleksandr (<a href="http://codepen.io/Oksanych">@Oksanych</a>)
            on <a href="http://codepen.io">CodePen</a>.
        </p>
    </section>
</div>