<div class="container">

    <h2 class="title">Flexbox Video</h2>

    <ul class="tutorial">
        <li class="tutorial__item">
            <a href="https://www.youtube.com/watch?v=x0fcNDaE7Z0" class="tutorial_link">Вадим Макеев "Flexbox, теперь
                понятно"</a>
        </li>
    </ul>

    <h2 class="title">Flexbox Tutorials</h2>

    <ul class="tutorial">
        <li class="tutorial__item">
            <a href="https://htmlacademy.ru/courses/96" class="tutorial_link">HTML academy. Flexbox, part 1</a>
        </li>
        <li class="tutorial__item">
            <a href="https://htmlacademy.ru/courses/113" class="tutorial_link">HTML academy. Flexbox, part 2</a>
        </li>
        <li class="tutorial__item">
            <a href="http://flexboxfroggy.com/" class="tutorial_link">Flexbox Froggy</a>
        </li>
    </ul>

    <h2 class="title">Flexbox Articles</h2>

    <ul class="tutorial">
        <li class="tutorial__item">
            <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" class="tutorial_link">A Complete Guide to
                Flexbox</a>
        </li>
        <li class="tutorial__item">
            <a href="http://tympanus.net/codrops/css_reference/flexbox/" class="tutorial_link">Flexbox, or the Flexible
                Box Layout, is a new layout mode in CSS3 designed for laying out complex applications and web pages.</a>
        </li>
        <li class="tutorial__item">
            <a href="https://www.smashingmagazine.com/2015/08/flexible-future-for-web-design-with-flexbox/"
               class="tutorial_link">Laying Out A Flexible Future For Web Design With Flexbox</a>
        </li>
        <li class="tutorial__item">
            <a href="https://habrahabr.ru/post/242545/"
               class="tutorial_link">Практическое применение FlexBox</a>
        </li>
    </ul>

    <h2 class="title">Flexbox Browser Support</h2>

    <ul class="tutorial">
        <li class="tutorial__item">
            <a href="http://caniuse.com/#feat=flexbox" class="tutorial_link">Can I Use</a>
        </li>
    </ul>

    <h2 class="title">Flexbox Bugs</h2>

    <ul class="tutorial">
        <li class="tutorial__item">
            <a href="https://github.com/philipwalton/flexbugs" class="tutorial_link">Flexbugs</a>
        </li>
    </ul>


</div>